.git
.gitignore

.venv
venv
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache

*.pyc
*.pyo
*.pyd

.env
.env.*

node_modules

.idea
.vscode

data
logs
temp
tmp

*.db
*.sqlite3

dist
build

.coverage
htmlcov

.ipynb_checkpoints

.cph

Dockerfile.old